@media (min-width: 1230px) {
	body {
		background-size: cover;
	}
}

@media (min-width: 1200px) {
	.article-custom {
		margin-top: 331px;
		background-image: url('../images/gradient.jpg');	
	}
}

@media (min-height: 636px) {
		body {
		background-size: cover;
	}

}

@media (max-width: 800px){
	.page-header {
		padding-top: 80px;
		font-size: 2em;
	}

	#name {
		font-size: 2em;
	}

	.tool-list {
		margin-left: -15px;
	}

	.tool-list li img {
		width: 50px;
	}
}

